<template name="account">
    <div class="page account">
        {{#nav title=currentUser.profile.name }}
             <img src="{{profile.picture}}" class="img-responsive">
        {{/nav}}

        <div class="content-scrollable">
            <section class="row text-center pvs panel mbn">
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getMedia _id}}</h2><small>Media</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getWheels _id}}</h2><small>Customs</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getFollowers _id}}</h2><small>Followers</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getFollowing _id}}</h2><small>Following</small></div>
            </section>
            <ul class="small-block-grid-3">
                {{#each getRelated}}
                	{{debug}}
                    {{> imageGrid}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>
