<template name="account">
    <div class="page account">
        {{debug}} {{> nav title=currentUser.profile.name}}

        <div class="content-scrollable">
        	<div class="row bbt bcLight">
                <div class="small-4 columns pln">
                	<img src="{{profile.picture}}" class="img-responsive">
                	<button class="button tiny pull-right mbn mtt">Follow</button>
                </div>
                <div class="small-8 columns pln">
                    
                </div>
            </div>
            <section class="row text-center">
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getMedia _id}}</h2><small>Media</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getWheels _id}}</h2><small>Customs</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getFollowers _id}}</h2><small>Followers</small></div>
            	<div class="small-3 columns"><h2 class="strong mbn pan veryTight">{{getFollowing _id}}</h2><small>Following</small></div>
            </section>
            <div class="row bbt bcLight">
                <div class="small-12 columns">
                    <p class="mts">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
