<template name="websiteHome">

    <div class="row fullWidth bg-image text-center" style="background-image:url('img/web/header.jpg'); background-position:top center">
        <div class="small-12 medium-10 medium-centered columns">
            <h1 class="avenirBlack white pvh mvh fsh">My Custom. My Rules.</h1>
            <div class="row collapse">
            	<div class="small-12">
            		<h4 class="avenirBlack white">Be notified when its released</h4>
            	</div>
            	<form data-abide>
                <div class="small-8 medium-4 medium-offset-3 columns">
               		<div class="email-field">
					    <input type="email" placeholder="Enter your email" required>
					    <small class="error">An email address is required.</small>
					</div>
                </div>
                <div class="small-4 medium-2 columns end">
                    <button type="submit" class="button postfix">Register</button>
                </div>
                </form>
            </div>
            <div class="row">
            	<div class="small-6 small-centered columns">
            		<div data-alert class="alert-box success radius hide">
				  	Thanks for your interest, we will contact you when the app is live.
				  	<a href="#" class="close">&times;</a>
					</div>
            	</div>
            </div>
            <div class="row">
            	<div class="small-12 pvl">
            		<img src="img/web/appStore.png">
            		<img src="img/web/playStore.png">
            	</div>
            </div>
        </div>
    </div>

    <div class="bbt bcLight fullWidth pvl">
        <div class="row">
        	<div class="medium-3 columns text-center">
        	<img src="img/web/logo.png">
        	</div>
            <div class="medium-9 columns">
                <h4 class="avenirBook"><span class="avenirBlack">There has been blood, sweat and scars building your custom(s).</span><br> Now it’s time to show the world. My Custom is a mobile app and platform to show off your custom motorcycle, car, truck or engine on wheels.
				<i>Take a photo or video, add it to My Custom and connect with other enthusiast’s.</i> </h4>
            </div>
        </div>
    </div>

    <div class="bbt bcLight fullWidth">
        <div class="row pvl">
            <div class="small-12 medium-6 columns mth">
                <h1 class="avenirBlack">Builders.</h1>
                <p class="avenirBook">You have been tinkering with engines for as long as you can remember. You understand the intricacies and effort that goes into building a one of a kind custom. We want to document the whole story, which garage it was found in, what work had to be done. How long did it take. Who helped build it?
                    <br>
                    <i>Most of all we want to recognise your effort.</i> </p>
            </div>
            <div class="small-12 medium-6 columns text-center">
                <img src="img/web/man.png">
            </div>
        </div>
    </div>

    <div class="bbt bcLight fullWidth">
        <div class="row pvl">
            <div class="small-12 medium-6 columns mth">
                <h1 class="avenirBlack">Customs.</h1>
                <p class="avenirBook">We love customs, we want a dedicated space that showcases all the amazing work being done worldwide in the custom scene. You can search for custom builders, models, types or year. Find exactly what you are looking for.
                    <br>
                    <i>This is the place to find, explore and connect.</i> </p>
            </div>
            <div class="small-12 medium-6 columns text-center">
                <img src="img/web/snake.png">
            </div>
        </div>
    </div>

    <div class="bbt bcLight fullWidth">
        <div class="row pvl">
            <div class="small-12 medium-6 columns mth">
                <h1 class="avenirBlack">Follow or lead.</h1>
                <p class="avenirBook">Maybe you are building your first custom and want some tips on what others have done. Or your a seasoned builder who wants to build a community around your style and process. We have build social networking directly into the app so you can always be in touch with the people and custom scene that matters.
                    <br>
                    <i>Get started today.</i> </p>
            </div>
            <div class="small-12 medium-6 columns text-center">
                <img src="img/web/dog.png">
            </div>
        </div>
    </div>

    <div class="row fullWidth bg-image" style="background-image:url('img/web/footer.jpg'); background-position:top center">
    	<div class="small-12 medium-6 columns text-center pth">
    		<img src="img/web/phones.png">
    	</div>
    	<div class="small-12 medium-6 columns show-for-medium-up">
    		<h1 class="avenirBlack white comingSoon">Coming Soon.</h1>
    		<h4 class="avenirBlack white">Be notified when its released</h4>
    		<div class="row collapse">
                <form data-abide>
                <div class="small-7 columns pln">
               		<div class="email-field">
					    <input type="email" placeholder="Enter your email" required>
					    <small class="error">An email address is required.</small>
					</div>
                </div>
                <div class="small-3 columns end">
                    <button type="submit" class="button postfix">Register</button>
                </div>
                </form>
            </div>
            <div class="row">
            	<div class="small-10 columns">
            		<div data-alert class="alert-box success radius hide">
				  	Thanks for your interest, we will contact you when the app is live.
				  	<a href="#" class="close">&times;</a>
					</div>
            	</div>
            </div>
    	</div>
    </div>

    <div class="bbt bcLight fullWidth">
        <div class="row pvm">
            <div class="small-12 columns text-center">
                <a class="mhm" href="/terms">Terms</a>
                <a class="mrm" href="/privacy">Privacy</a>
                <span class="avenirBook">My Custom © 2015</span>
            </div>
        </div>
    </div>

</template>
