<template name="about">
	<div class="page about">
		{{> nav title='About' black=true}}

		<div class="content-scrollable">
			<div class="bg-image about">
			</div>
			<div class="row bbt bcLight">
					<div class="small-12 columns">
						<h3 class="mtm">Help us improve My Custom</h3>
						<p class="mts">We are a small passionate team located in different geographic locations around the world, namely USA, Australia, Japan and Germany. One thing we all have in common is a passion for building a great community around our love of custom cars and motorcycles.</p>
						<p>We have a few big ideas about what we are going to build in the future but we really want to listen to what the community wants and build a platform around that. So dont be shy, reach out to us and let us know how we can make My Custom better.</p>
						<h5>Wishlist</h5>
						<ul class="disc">
							<li>Video Support</li>
							<li>Web Application</li>
							<li>Tablet Support</li>
							<li>Marketplace</li>
							<li style="text-decoration: line-through;">iOS App</li>
							<li style="text-decoration: line-through;">Android App</li>
						</ul>
					</div>
			</div>

		</div>
		<a href="mailto:info@my-custom.com" class="btn-primary js-open" target="_blank">Contact Us</a>
	</div>
</template>