<template name="appBody">

    <div id="content-container" class="grid-frame vertical">
      {{> yield}}
    </div>

<!--   <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <a href="/garage/{{currentUser._id}}" class="{{activePage 'garage'}} image-profile" style="background-image: url('{{profile.picture}}')">
        <span class="wrapper-menu-item">
          <i class="fa fa-2x fa-car mbs"></i>
          <span class="title-menu">Garage</span>
        </span>
      </a>
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
           <i class="fa fa-2x fa-newspaper-o mbs"></i>
          <span class="title-menu">Feed</span>
        </span>
      </a>
      <a href="{{pathFor 'search'}}" class="{{activePage 'search'}}">
        <span class="wrapper-menu-item">
           <i class="fa fa-2x fa-search mbs"></i>
          <span class="title-menu">Search</span>
        </span>
      </a>

      <a href="{{pathFor 'about'}}" class="{{activePage 'about'}}">
        <span class="wrapper-menu-item">
          <i class="fa fa-2x fa-bullhorn mbs"></i>
          <span class="title-menu">About</span>
        </span>
      </a>
    </section>

      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
      </div>

    {{> overlay}}

    <div class="content-overlay"></div>

  </div> -->
</template>