<template name="home">
    {{#nav title='My Custom' }}
        <a href="#" class="nav-item js-attach-quick-image"><span class="icon-camera"></span></a>
    {{/nav}}
    <div class="grid-block">
        <div class="grid-content">
            <div class="bg-image home">
                <h1 class="title-home">
                    <img src="../img/app/logo-local.svg" alt="Local Market" />
                </h1>
            </div>
        </div>

        	<div class="callout-news text-left">
                <h6 class="title-callout man">News</h6>
                {{latestNews.text}}
            </div>

            <div class="list-activities">
                {{#each activities}} {{> activity}} {{else}}
                <div class="wrapper-message">
                    <div class="title-message">You havent started following anyone yet</div>
                    <div class="subtitle-message">Follow your friends and fellow enthusiasts</div>
                </div>
                {{/each}}
            </div>

        </div>
</template>

