<template name="nav">
  <div class="{{#if black}}dark{{/if}}  title-bar">
      {{#if back}}
      <span class="left"><a class="js-back" href="#"><i class="fa fa-angle-left"></i></a></span>
      {{else}}
      <span class="left"><a class="js-menu" href="#"><i class="fa fa-bars"></i></a></span>
      {{/if}}

      <span class="title center">{{title}}</span>

      <span class="right">{{> Template.contentBlock }}</span>
  </div>


<!--   <nav class="{{#if black}}black{{/if}}">
    <div class="nav-group">
      {{#if back}}
        <a class="nav-item js-back" href="#"><span class="icon-arrow-left-alt"></span></a>
      {{else}}
        <a class="nav-item js-menu" href="#"><span class="icon-menu"></span></a>
      {{/if}}
    </div>

    <div class="title-page">
      {{title}}
      <span class="subtext-page">{{subtext}}</span>
    </div>

    <div class="nav-group right">
      {{> Template.contentBlock }}
    </div>
  </nav> -->
  {{initFoundation}}
</template>