<template name="search">
{{debug}}
    <div class="page search">
        {{> nav title='Search' black=false}}

        <div class="content-scrollable">

        	<div class="form-group">
                <label class="title-callout">Search</label>
                <input type="text" id="search" placeholder="Search for type, maker or comment">
            </div>

            <div class="list-recipes">
                {{#each this}} 
                	{{> recipeItem recipe=this size='small'}} 
                {{/each}}
            </div>
        </div>

    </div>
</template>
