<template name="wheelsAdd">
    {{debug}}
    <div class="page wheelsAdd">
        {{> nav title='Add new wheels' black=false}}

        <div class="content-scrollable">

        <div class="add-wheels">
            <a href="#" class="add-image nav-item js-share"><span class="icon-camera"></span></a>
            <div>
                <span class="title-callout">Model</span>
                <input type="text" id="model" placeholder="Add model of your custom">
            </div>
            <div>
                <span class="title-callout">Year</span>
                <input type="text" id="year" placeholder="When was it built">
            </div>
            <div>
                <textarea id="description" rows="7" placeholder="Describe your custom. It can be the backstory of where you purchased and how it was built. Which parts were modified and by who?"></textarea>
            </div>
        </div>

        </div>
        <div class="btns-group">
            <a class="btn-secondary no-state ">Add</a>
            <a class="btn-secondary no-state ">Close</a>
        </div>
    </div>
</template>
