@font-face {
    font-family: 'AvenirBlack';
    src: url('font/AvenirLTStd-Black.eot');
    src: url('font/AvenirLTStd-Black.eot') format('embedded-opentype'),
         url('font/AvenirLTStd-Black.woff') format('woff'),
         url('font/AvenirLTStd-Black.ttf') format('truetype'),
         url('font/AvenirLTStd-Black.svg') format('svg');
}

@font-face {
    font-family: 'AvenirBook';
    src: url('font/AvenirLTStd-Book.eot');
    src: url('font/AvenirLTStd-Book.eot') format('embedded-opentype'),
         url('font/AvenirLTStd-Book.woff') format('woff'),
         url('font/AvenirLTStd-Book.ttf') format('truetype'),
         url('font/AvenirLTStd-Book.svg') format('svg');
}