<template name="activity">
    <div class="row btt bcLight">
        <a href="/garage/{{userId}}">
        <div class="small-2 columns pln">
            <img src="{{userAvatar}}" class="img-responsive">
        </div>
        <div class="small-10 columns pln">
            <h6 class="strong mvs ptt">{{userName}} <small class=" pull-right subheader"><i class="fa fa-clock-o"></i> {{formatTime date}}</small></h6>
        </div>
        </a>
    </div>

    <a href="{{path}}" class="item-activity">
		<div class="bg-image" style="background-image: url('{{image}}');"></div>
    </a>
    <div class="row">
        <div class="small-12 columns pvm">
            <p class="mbn">{{description}}</p>
            {{#if place}}
                <small class="subheader">&mdash;{{place}}</small>
            {{/if}}
        </div>

        <div class="small-12 columns mbm">
            {{#if isliked}}
                <a id="unlike"><i class="fa fa-2x fa-thumbs-up mrs"></i> </a>
            {{else}}
                <a id="like"><i class="fa fa-2x fa-thumbs-o-up mrs"></i></a>
            {{/if}}
            {{#if likeCount}} <strong>{{likeCount}}</strong> {{/if}}
            {{#if commentCount _id}}
                <a class="mhs" href="/comments/{{_id}}"><i class="fa fa-2x fa-comments"></i></a>
            {{else}}
                <a class="mhs" href="/comments/{{_id}}"><i class="fa fa-2x fa-comment-o"></i></a>
            {{/if}}
            {{#if commentCount _id}} <strong>{{commentCount}}</strong> {{/if}}
        </div>

<!--         <div class="small-12 columns pvm bbt bcLight">
            {{#if likeCount}}
                <p class="mbs"><i class="fa fa-heart"> {{likeCount}}</i> 
                {{#each likeNames}}
                <strong>{{userName}} </strong>
                {{/each}}
                </p>
            {{/if}}
             {{#each getComments _id}}
            <p class="mbn"><span class="strong">{{userName}}</span> {{text}}</p>
            {{/each}}
        </div> -->
        
    </div>

</template>
