<template name="notifications">
    <div class="page notification">
        {{> nav title='Notifications' black=false back=true}}

        <div class="content-scrollable">

            {{#each getNotifications}}
            <div class="alert-box {{#if isRead}}read{{else}}secondary{{/if}} mbt">
                <a class="row" href="{{objectType}}/{{objectId}}">
                    <div class="small-2 columns pln">
                        <img src="{{senderAvatar}}" class="img-responsive">
                    </div>
                    <div class="small-10 columns pln prt">
                        <p class="mbn black">
                            <span class="strong">{{senderName}}</span> 
                            {{#if equal activityType 'like'}} Liked your {{objectType}} {{/if}} 
                            {{#if equal activityType 'comment'}} Added some {{objectType}} {{/if}}
                            {{#if equal activityType 'activity'}} Added a new {{objectType}} {{/if}}
                            {{#if equal activityType 'follower'}} Is following you {{objectType}} {{/if}}
                            {{#if equal activityType 'custom'}} Added some new {{objectType}} {{/if}}
                        </p>
                        <small class="inlineBlock man pan subheader"><i class="fa fa-clock-o"></i> {{formatTime date}}</small>
                    </div>
                </a>
                <a href="#" class="close">&times;</a>
            </div>
            {{/each}}

        </div>
    </div>
</template>
